body {
    font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    min-width: 320px;
    font-size: 14px;
    color: #5c5c5c;
}

.container {
    margin: 0 auto;
    max-width: 1340px;
}

.container--width1060px {
    max-width: 1060px;
}

.container--width910px {
    max-width: 910px;
}

.container--width1260px {
    max-width: 1260px;
}

/* --- Header --- */

.header {
    padding: 20px 0 20px;
    box-shadow: 0 12px 35px rgba(160, 121, 0, 0.2);
}

@media screen and (min-width: 600px) {
    .header--display {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

.logo {
    margin-right: auto;
    padding: 10px;
}

/* - Menu - */

.menu {
    margin: 30px 0;
}

.menu__item {
    display: block;
    text-decoration: none;
    margin: 20px 0;
    padding: 0 40px;
    font-size: 15px;
    color: orange;
    white-space: nowrap;
    position: relative;
}

.menu__item::after {
    content: "";
    margin: auto 0;
    width: 22px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
}

.menu__item:hover::after, .menu__item:active::after {
    background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
    opacity: .3;
}

.menu__item--active::after, .menu__item--active:hover::after {
    background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
    opacity: 1;
}

.menu__item:focus {
    outline: none;
}

.cart {
    display: flex;
    align-items: center;
    margin: 0 10px;
    text-decoration: none;
}

.cart__img {
    display: block;
    background: url(../design/ic-cart.png) center no-repeat;
    width: 22px;
    height: 19px;
}

.cart__count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 13px;
    padding: 2px;
    margin: 0 14px 0 0;
    border-radius: 50%;
    background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
    font-size: 8px;
    color: #fff;
    order: -1;
}

@media screen and (min-width: 600px) {
    .menu {
        display: flex;
        order: 1;
    }
    .menu__item {
        padding: 10px 5px;
        margin: 0 20px;
        position: static;
    }
    .menu__item::after {
        display: block;
        margin: 10px auto -13px;
        position: static;
    }
    .menu__item:hover::after, .menu__item:active::after {
        background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
        opacity: .3;
    }
    .menu__item--active::after, .menu__item--active:hover::after {
        background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
        opacity: 1;
    }
    .cart {
        width: 40px;
        margin: 0 20px;
        position: relative;
    }
    .cart__count {
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        order: 0;
    }
}

@media screen and (min-width: 1115px) {
    .menu {
        order: 0;
    }
}

/* - Button - */

.btn-group {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 160px;
    height: 56px;
    border: none;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
    box-shadow: 0 12px 35px rgba(160, 121, 0, 0.2);
}

.btn-width100 {
    width: 100%;
}

/* --- Content --- */

.blog-post {
    padding: 115px 10px;
}

.blog-post__head {
    max-width: 534px;
    padding-bottom: 115px;
}

.blog-post__body {}

.title {
    margin: 0 0 40px;
    padding: 0;
    font-size: 44px;
    line-height: 70px;
    font-weight: bold;
    color: orange;
}

.subtitle {
    font-size: 18px;
    color: #5c5c5c;
    padding-bottom: 30px;
}

.pagination {
    display: flex;
    align-items: center;
}

.pagination__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.pagination__btn--prev {
    width: 31px;
    height: 31px;
    background: #fff7df url(../design/ic-prev.svg) center no-repeat;
}

.pagination__btn--next {
    width: 46px;
    height: 46px;
    margin-left: 10px;
    background: url(../design/ic-next.svg) center no-repeat, linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
}

.blog-post__text {
    line-height: 28px;
    padding: 10px 0;
}

.blog-post__subtitle {
    max-width: 385px;
    font-size: 24px;
    line-height: 38px;
    font-weight: bold;
    color: orange;
}

.blog-post__img {
    display: block;
    height: 432px;
    border-radius: 10px;
    background: #c4c4c4;
}

.blog-post__links {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tag {
    text-decoration: none;
    color: inherit;
}

.tag::after {
    content: ",";
}

.tag:last-child::after {
    content: "";
}

.share {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.icon-template {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 5px;
    text-decoration: none;
}

.icon-template--facebook {
    background: url(../design/ic-fb.png) center no-repeat;
}

.icon-template--tweeter {
    background: url(../design/ic-tweeter.png) center no-repeat;
}

.icon-template--youtube {
    background: url(../design/ic-youtube.png) center no-repeat;
}