body {
    font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    min-width: 320px;
    font-size: 14px;
    color: #5c5c5c;
}

.container {
    margin: 0 auto;
    max-width: 1340px;
}

.container--width1060px {
    max-width: 1060px;
}

.container--width910px {
    max-width: 910px;
}

.container--width1260px {
    max-width: 1260px;
}

.logo, .cart, .btn, .pagination__btn, .blog-post__img, .pagination__link, .icon-template, .avatar, .commets__reply, .footer__link, .copyright__link {
    opacity: .8
}

.logo:hover, .cart:hover, .btn:hover, .pagination__btn:hover, .blog-post__img:hover, .pagination__link:hover, .icon-template:hover, .avatar:hover, .commets__reply:hover, .footer__link:hover, .copyright__link:hover {
    opacity: 1
}

.logo:active, .cart:active, .btn:active, .pagination__btn:active, .blog-post__img:active, .pagination__link:active, .icon-template:active, .avatar:active, .commets__reply:active, .footer__link:active, .copyright__link:active {
    opacity: 1
}

.logo:focus, .cart:focus, .btn:focus, .pagination__btn:focus, .blog-post__img:focus, .pagination__link:focus, .icon-template:focus, .avatar:focus, .commets__reply:focus, .footer__link:focus, .copyright__link:focus {
    outline: none;
}

/* --- Header --- */

.header {
    padding: 20px 0 20px;
    box-shadow: 0 12px 35px rgba(160, 121, 0, 0.2);
}

@media screen and (min-width: 600px) {
    .header--display {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

.logo {
    margin-right: auto;
    padding: 10px;
}

/* - Menu - */

.menu {
    margin: 30px 0;
}

.menu__item {
    display: block;
    text-decoration: none;
    margin: 20px 0;
    padding: 0 40px;
    font-size: 15px;
    color: orange;
    white-space: nowrap;
    position: relative;
}

.menu__item::after {
    content: "";
    margin: auto 0;
    width: 22px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
}

.menu__item:hover::after, .menu__item:active::after {
    background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
    opacity: .3;
}

.menu__item--active::after, .menu__item--active:hover::after {
    background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
    opacity: 1;
}

.menu__item:focus {
    outline: none;
}

.cart {
    display: flex;
    align-items: center;
    margin: 0 10px;
    text-decoration: none;
}

.cart__img {
    display: block;
    background: url(../design/ic-cart.png) center no-repeat;
    width: 22px;
    height: 19px;
}

.cart__count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 13px;
    padding: 2px;
    margin: 0 14px 0 0;
    border-radius: 50%;
    background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
    font-size: 8px;
    color: #fff;
    order: -1;
}

@media screen and (min-width: 600px) {
    .menu {
        display: flex;
        order: 1;
    }
    .menu__item {
        padding: 10px 5px;
        margin: 0 20px;
        position: static;
    }
    .menu__item::after {
        display: block;
        margin: 10px auto -13px;
        position: static;
    }
    .menu__item:hover::after, .menu__item:active::after {
        background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
        opacity: .3;
    }
    .menu__item--active::after, .menu__item--active:hover::after {
        background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
        opacity: 1;
    }
    .cart {
        width: 40px;
        margin: 0 20px;
        position: relative;
    }
    .cart__count {
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        order: 0;
    }
}

@media screen and (min-width: 1115px) {
    .menu {
        order: 0;
    }
}

/* - Button - */

.btn-group {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 160px;
    height: 56px;
    border: none;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
    box-shadow: 0 12px 35px rgba(160, 121, 0, 0.2);
}

/* --- Content --- */

.blog-post {
    padding: 115px 0;
}

.blog-post__head {
    max-width: 534px;
}

.title {
    margin: 0 0 40px;
    padding: 0 10px;
    font-size: 44px;
    line-height: 70px;
    font-weight: bold;
    color: orange;
}

.subtitle {
    font-size: 18px;
    color: #5c5c5c;
    padding: 0 10px 30px;
}

.pagination {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.pagination__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.pagination__btn--prev {
    width: 31px;
    height: 31px;
    background: #fff7df url(../design/ic-prev.svg) center no-repeat;
}

.pagination__btn--next {
    width: 46px;
    height: 46px;
    margin-left: 10px;
    background: url(../design/ic-next.svg) center no-repeat, linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    box-shadow: 0 12px 35px rgba(160, 121, 0, 0.2);
}

.blog-post__text {
    line-height: 28px;
    padding: 10px;
}

.blog-post__subtitle {
    max-width: 385px;
    font-size: 24px;
    line-height: 38px;
    font-weight: bold;
    color: orange;
    padding: 0 10px;
}

.blog-post__img {
    display: block;
    height: 432px;
    border-radius: 10px;
    background: #c4c4c4;
    margin: 0 10px;
}

.blog-post__links {
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tag {
    text-decoration: none;
    color: inherit;
}

.tag::after {
    content: ",";
}

.tag:last-child::after {
    content: "";
    margin-right: 20px;
}

.share {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.icon-template {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
    text-decoration: none;
}

.icon-template--facebook {
    background: url(../design/ic-fb.png) center no-repeat;
}

.icon-template--tweeter {
    background: url(../design/ic-tweeter.png) center no-repeat;
}

.icon-template--youtube {
    background: url(../design/ic-youtube.png) center no-repeat;
}

.icon-template--dribbble {
    background: url(../design/ic-dribbble.png) center no-repeat;
}

.pagination--flex {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

.pagination__link {
    text-decoration: none;
    color: inherit;
    max-width: 210px;
}

.pagination__link--next {
    text-align: right;
    margin-left: auto;
}

.pagination__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.pagination__title--next {
    color: orange;
}

.comments__title {
    font-size: 36px;
    line-height: 51px;
    padding: 40px 10px 0;
}

.comments__wrap {
    border: 1px solid #efefef;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 10px;
}

.comments__comment-block {
    display: flex;
    padding: 50px;
    border-bottom: 1px solid #efefef;
    flex-wrap: wrap;
}

@media screen and (min-width: 600px) {
    .comments__comment-block {
        flex-wrap: nowrap;
    }
}

.comments__wrap:last-child {
    border-bottom: none;
}

.comments__comment-block--subcomment {
    border-bottom: none;
}

.comments__comment-block--response {
    padding-left: 50px;
    justify-content: flex-end;
    text-align: right;
}

@media screen and (min-width: 600px) {
    .comments__comment-block--response {
        padding-left: 200px;
        justify-content: flex-start;
        text-align: left;
    }
}

.avatar {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    overflow: hidden;
    background: #c4c4c4;
    margin-right: 50px;
    margin-bottom: 50px;
    flex-shrink: 0;
}

.comments__comment-block--response .avatar {
    margin-right: 0;
}

@media screen and (min-width: 600px) {
    .comments__comment-block--response .avatar {
        margin-right: 50px;
    }
}

.comments__text {
    max-width: 530px;
    font-size: 16px;
    line-height: 28px;
    color: #535353;
    padding: 0 0 30px;
    margin: 0;
}

.comments__time-stamp {
    font-size: 12px;
    line-height: 17px;
    color: #989898;
    margin-right: 10px;
}

.comments__comment-block--response .comments__time-stamp {
    margin-right: 0;
}

.commets__reply {
    font-size: 12px;
    line-height: 57px;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

.comments__comment-block--response .commets__reply {
    margin-left: 10px;
}

@media screen and (min-width: 600px) {
    .comments__comment-block--response .comments__time-stamp {
        margin-right: 10px;
    }
    .comments__comment-block--response .commets__reply {
        margin-left: 0;
    }
}

.form-wrap {
    max-width: 730px;
}

.form-field {
    display: flex;
    flex-wrap: wrap;
}

.label {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}

.label--flex50 {
    flex-basis: 100%;
}

@media screen and (min-width: 600px) {
    .label--flex50 {
        flex-basis: 50%;
    }
}

.label--flex100 {
    flex-basis: 100%;
}

.input, .textarea {
    box-sizing: border-box;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #efefef;
    background: transparent;
    margin-bottom: 9px;
    flex-grow: 1;
}

.input {
    height: 58px;
    padding: 10px 20px;
}

.textarea {
    padding: 20px;
}

.input::placeholder {
    opacity: .5;
}

.textarea::placeholder {
    opacity: .5;
}

.input:hover, .textarea:hover,
.input:active, .textarea:active {
    opacity: 1;
    background: #fff7df;
}

.textarea {
    resize: none;
}

.input:focus, .textarea:focus {
    outline: none;
}

/* --- Footer --- */

.footer--bg-dark {
    background: #212121;
}

.footer__section, .copyright__section {
    display: flex;
    flex-wrap: wrap;
}

.footer__section {
    padding-top: 60px;
}

.footer__descript, .footer__title, .footer__link, .footer__text, .copyright__link {
    color: #fff;
}

.footer__follow-block {
    margin-right: auto;
}

.footer__descript {
    padding: 32px 10px 0;
    max-width: 265px;
    font-size: inherit;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list--follow-list {
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.icon-template--footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.footer__title, .footer__link, .footer__text {
    font-size: 15px;
}

.footer__links-block, .footer__contacts-block, .footer__terms-block {
    margin-right: 90px;
}

.footer__follow-block, .footer__links-block, .footer__contacts-block, .footer__terms-block {
    padding-bottom: 60px;
}

.footer__links-block, .footer__contacts-block, .footer__terms-block {
    padding-left: 10px;
}

.footer__title {
    margin: 0;
    padding: 10px 0 40px;
    line-height: 20px;
}

.footer__link, .footer__text {
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.footer__terms-block {
    align-self: flex-end;
    margin-bottom: 20px;
}

.footer--bg-black {
    background: #000;
}

.copyright__section {
    display: flex;
}

.copyright__link {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 0;
    margin-left: 40px;
    margin-right: 10px;
}

.copyright__link--primary-left {
    margin-left: 10px;
    margin-right: auto;
}

.copyright__link--site::after {
    content: "Credit";
    font-size: 12px;
    font-weight: bold;
    color: yellow;
}